[Unit]
Description=Scheduler Ruby on Rails Webapp
Requires=postgresql.service
After=postgresql.service

[Service]
Environment=RAILS_ENV=production
Environment=RAILS_SERVE_STATIC_FILES=true
EnvironmentFile = /etc/scheduler/secret.env
ExecStart=/usr/bin/bundle exec rails s -b 0.0.0.0
Type=simple

WorkingDirectory=/opt/schedy/scheduler
User=schedy
Group=schedy

StartLimitInterval=10s
StartLimitBurst=25
RestartSec=500ms

[Install]
WantedBy=multi-user.target
