[Unit]
Description=Scheduler Seapig-Worker instance: %i
Requires=scheduler-seapig-server.service
After=scheduler-seapig-server.service

[Service]
Environment=RAILS_ENV=production
ExecStart=/usr/bin/bundle exec seapig-worker http://127.0.0.1:3001/seapig
Type=simple
Restart=always

WorkingDirectory=/opt/schedy/scheduler
User=schedy
Group=schedy

StartLimitInterval=10s
StartLimitBurst=25
RestartSec=500ms

[Install]
WantedBy=multi-user.target
