[Unit]
Description=Scheduler Seapig-Notifier
Requires=scheduler-seapig-server.service
After=scheduler-seapig-server.service
Requires=postgresql.service
After=postgresql.service

[Service]
ExecStart=/usr/bin/bundle exec seapig-notifier http://127.0.0.1:3001/seapig
Type=simple
Restart=on-failure

WorkingDirectory=/opt/schedy/scheduler
User=schedy
Group=schedy

StartLimitInterval=10s
StartLimitBurst=25
RestartSec=500ms

[Install]
WantedBy=multi-user.target
