[Unit]
Description=Scheduler RCelery Deamon
Requires=postgresql.service
After=postgresql.service

[Service]
EnvironmentFile=/etc/scheduler/celery.conf
Environment=RAILS_ENV=production

ExecStart=/usr/bin/bundle exec rceleryd -W 50 -t ./lib/celery/server.rb -a dister --hostname rabbit-server --port 5672 --username celery --password celery
Type=simple
Restart=on-failure

WorkingDirectory=/opt/schedy/scheduler
User=schedy
Group=schedy

StartLimitInterval=10s
StartLimitBurst=25
RestartSec=500ms

[Install]
WantedBy=multi-user.target
