td
  vertical-align: middle !important
.task_marker
  width: 1.2em
  height: 1.2em            
  padding: 0.1em 0.5em
  float: left
  margin-right: 0.1em  
  background-color: purple
.task_marker.task_status_waiting
  background-color: gray
.task_marker.task_status_started
  background-color: yellow
.task_marker.task_status_finished
  background-color: limegreen
.task_marker.task_status_assigned
  background-color: navy
.task_marker.task_status_crashed
  background-color: red
.task_marker.task_status_failed
  background-color: orange
    
table
  .id-column
    width: 40px
  .creator-column
    width: 80px
  .status-column
    width: 80px
  .date-column
    width: 200px

.tag   
  font-family: Sans-Serif
  padding-right: 0.2em
  padding-left: 0.2em      
  float: left      

.key
  text-transform: capitalize          
  float: left
  padding-right: 0.3em
  padding-left: 0.3em           
  background-color: lightblue

.value 
  float: left
  padding-right: 0.3em
  padding-left: 0.3em           
  background-color: lightgray

.clear
  clear: both
          